<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HashZap</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <h1>Hashzap</h1>
    <div id="lista_mensagens">
    </div>
    <input type="text" id="usuario" placeholder="Usuario" required>
    <input type="text" id="mensagem" placeholder="Mensagem" required>
    <button id="botao">Enviar</button>

    <script type="text/javascript">
        $(document).ready(function(){
        var socket = io("localhost:5000");
        socket.on("connect", function(){
            console.log("usuario conecou");
        })

        socket.on("message", function(data){
            console.log("disparou uma mensagem");
            $("#lista_mensagens").append($("<p>").text(data));
        })

        $("#botao").on("click", function(){
            console.log("Clicou no botao");
            socket.send($("#usuario").val() + ": " + $("#mensagem").val());
            $("#mensagem").val("");
        })

    })
    </script>
</body>
</html>